[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
htmlmin = "~=0.1.12"
Jinja2 = "~=2.10.1"
python-chess = "~=0.28.3"
aiohttp = "~=3.6.1"
brotlipy = "~=0.7.0"

[scripts]
server = "python server.py"
