[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
htmlmin = "~=0.1.12"
Jinja2 = "~=2.10.1"
python-chess = "~=0.28.2"
aiohttp = "~=3.5.4"

[scripts]
server = "python server.py"
