body {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 1em 0;
}

h2 {
  margin: 1em 0;
  border: 1px solid black;
  font-size: 1.2em;
  padding: 10px 15px;
  background: #777;
  color: white;
}

h2.white-win {
  background: white;
  color: black;
}

h2.black-win {
  background: black;
  color: white;
}

.left-side > .inner {
  width: 300px;
  text-align: center;
  padding-bottom: 40px;
}

.right-side > .inner {
  padding: 40px 0;
}

.black-win .badge {
  background: black;
}

.white-win .badge {
  background: white;
  color: black;
  border: 1px solid black;
}

footer {
  padding-top: 40px;
}

@media(min-width: 600px) {
  .content {
    width: 600px;
    margin: auto;
  }

  .left-side > .inner {
    position: fixed;
  }

  .content::after {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;
    background: #eee;
    padding-right: 40px;
    z-index: -1;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
  }

  .right-side {
    width: 240px;
    margin-left: 360px;
  }
}

@media(max-width: 600px) {
  .left-side > .inner, .right-side > .inner {
    margin: auto;
    width: 300px;
  }

  .left-side {
    background: #eee url('triangle-bg.png');
    background-position: center bottom;
  }
}
