body {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 1em 0;
}

.left-side > .inner {
  background: #eee;
  width: 300px;
  text-align: center;
  padding-bottom: 40px;
}

.right-side > .inner {
  padding: 40px 0;
}

@media(min-width: 600px) {
  .content {
    width: 600px;
    margin: auto;
  }

  .left-side > .inner {
    position: fixed;
  }

  .content::after {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;
    background: #eee;
    padding-right: 40px;
    z-index: -1;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
  }

  .right-side {
    width: 240px;
    margin-left: 360px;
  }
}

.move {
  height: 150px;
  border: 1px solid black;
}

@media(max-width: 600px) {
  .left-side > .inner, .right-side > .inner {
    margin: auto;
    width: 300px;
  }

  .left-side {
    background: #eee;
  }
}
