/* General */

:root {
  --draw-bg-color: #777;
  --draw-color: #fff;

  --white-bg-color: white;
  --white-color: black;

  --black-bg-color: black;
  --black-color: white;

  --link-color: #337ab7;
  --visited-link-color: #23527c;

  --body-bg-color: #fff;
  --body-color: #333;

  --shaded-bg-color: #eee;

  --border-color: #ccc;
  --grave-border-color: #adadad;

  --code-bg-color: #f9f2f4;
  --code-color: #c7254e;

  --shadow: rgba(0,0,0,.125);
  --shadow-inset: 3px;

}

.left-side {
  background: var(--body-bg-color) url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NjAiIGhlaWdodD0iODgwIj48Zz48cGF0aCBkPSJNNjYwIDQ0MEwzMzAgODgwIDAgNDQwVjBoNjYweiIgZmlsbD0iI2VlZSIvPjwvZz48L3N2Zz4=');
  background-position: center bottom;
}

@media (prefers-color-scheme: dark) {
  :root {
    --draw-bg-color: #999;
    --draw-color: #eee;

    --white-bg-color: #eee;
    --white-color: #161512;

    --black-bg-color: #161512;
    --black-color: #eee;

    --body-color: #bababa;
    --body-bg-color: #161512;

    --link-color: #3692e7;
    --visited-link-color: #337ab7;

    --border-color: #404040;
    --grave-border-color: #404040;

    --shaded-bg-color: #262421;

    --code-bg-color: #262421;

    --shadow: rgba(255,255,255,.125);
    --shadow-inset: -3px;

  }

  .left-side {
    background: var(--body-bg-color) url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NjAiIGhlaWdodD0iODgwIj48Zz48cGF0aCBkPSJNNjYwIDQ0MEwzMzAgODgwIDAgNDQwVjBoNjYweiIgZmlsbD0iIzI2MjQyMSIvPjwvZz48L3N2Zz4=');
    background-position: center bottom;
  }

  div.spare {
    box-shadow: inset 0 0 12px 2px var(--shaded-bg-color);
    background: var(--border-color);
  }
}

body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: var(--body-color);
  background: var(--body-bg-color);
}

h1 {
  margin: 0;
  padding: 40px 0;
  font-size: 2.2em;
  line-height: 1.1;
  font-weight: bold;
}
h1 a, h1 a:hover, h1 a:visited {
  color: var(--body-color);
  text-decoration: none;
}

h2 {
  margin: 0 0 1em 0;
  border: 1px solid var(--body-color);
  font-size: 1.05em;
  padding: 10px 15px;
  background: var(--draw-bg-color);
  color: var(--draw-color);
  font-weight: bold;
  border-radius: 4px;
  text-align: left;
}

h3 {
  font-size: 1em;
  font-weight: bold;
  padding-top: 2em;
}

.white-win {
  background: var(--white-bg-color);
  color: var(--white-color);
}
.black-win {
  background: var(--black-bg-color);
  color: var(--black-color);
}
.white-win.frustrated {
  background: repeating-linear-gradient(45deg, var(--draw-bg-color), var(--draw-bg-color) 8px, var(--white-bg-color) 8px, var(--white-bg-color) 20px);
}
.black-win.frustrated {
  background: repeating-linear-gradient(45deg, var(--draw-bg-color), var(--draw-bg-color) 8px, var(--black-bg-color) 8px, var(--black-bg-color) 20px);
}

a {
  color: var(--link-color);
  text-decoration: none;
}
a:hover, a:visited {
  color: var(--visited-link-color);
}

li {
  margin-left: -1.5em;
}

table {
  width: 100%;
  border-bottom: 2px solid var(--border-color);
  border-top: 2px solid var(--border-color);
  margin: 1em 0;
  border-collapse: collapse;
}
thead {
  border-bottom: 4px solid var(--border-color);
}
td, th {
  padding: 0.2em;
  text-align: center;
}

.left-side > .inner, .right-side > .inner, footer > .inner {
  width: 300px;
  margin: auto;
}

.left-side > .inner {
  text-align: center;
  padding-bottom: 40px;
}
#board-toolbar {
  margin: 10px 0;
}
.reload {
  padding: 20px 0;
  text-align: center;
}

.right-side > .inner {
  padding-bottom: 40px;
}
section {
  padding-top: 40px;
}
#pgn-download, #lichess-analysis {
  white-space: nowrap;
  margin-right: 0.5em;
}
#losing.white-turn .badge, #winning.black-turn .badge {
  background: var(--black-bg-color);
  color: var(--black-color);
  border: 1px solid var(--black-color);
}
#losing.black-turn .badge, #winning.white-turn .badge {
  background: var(--white-bg-color);
  color: var(--white-color);
  border: 1px solid var(--white-color);
}
#cursed.white-turn .badge, #blessed.black-turn .badge {
  background: repeating-linear-gradient(45deg, var(--draw-bg-color), var(--draw-bg-color) 8px, var(--white-bg-color) 8px, var(--white-bg-color) 20px);
  color: var(--white-color);
  border: 1px solid var(--white-color);
}
#cursed.black-turn .badge, #blessed.white-turn .badge {
  background: repeating-linear-gradient(45deg, var(--draw-bg-color), var(--draw-bg-color) 8px, var(--black-bg-color) 8px, var(--black-bg-color) 20px);
  color: var(--black-color);
  border: 1px solid var(--black-color);
}

.panel {
  margin-bottom: 20px;
  background-color: var(--body-bg-color);
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-body {
  padding: 15px;
}
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.panel-default {
  border-color: var(--border-color);
}
.panel-default > .panel-heading {
  background-color: var(--shaded-bg-color);
  border-color: var(--border-color);
}

.list-group {
  margin-bottom: 20px;
}
a.list-group-item {
  color: var(--body-color);
  text-decoration: none;
}
a.list-group-item:active {
  box-shadow: inset 0 var(--shadow-inset) 5px var(--shadow);
}
a.list-group-item:focus, a.list-group-item:hover {
  background: var(--shaded-bg-color);
}
.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  border: 1px solid var(--border-color);
}
.list-group-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.list-group-item:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.list-group-item > .badge {
  float: right;
}
.list-group-item > .badge+.badge {
  margin-right: 5px;
}
.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  color: var(--draw-color);
  line-height: 1;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  background-color: var(--draw-bg-color);
  border-radius: 4px;
}

footer > .inner {
  text-align: center;
  padding-top: 40px;
}

/* Board */

#board {
  width: 296px;
  height: 296px;
  margin: 0 auto;
}
.cg-wrap {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOng9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHZpZXdCb3g9IjAgMCA4IDgiIHNoYXBlLXJlbmRlcmluZz0iZ2VvbWV0cmljUHJlY2lzaW9uIj48cmVjdCB3aWR0aD0iOCIgaGVpZ2h0PSI4IiBmaWxsPSIjYjU4ODYzIi8+PGcgaWQ9ImEiPjxnIGlkPSJiIj48ZyBpZD0iYyI+PGcgaWQ9ImQiPjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9IiNmMGQ5YjUiIGlkPSJlIi8+PHVzZSB4PSIyIiBocmVmPSIjZSIgeDpocmVmPSIjZSIvPjwvZz48dXNlIHg9IjQiIGhyZWY9IiNkIiB4OmhyZWY9IiNkIi8+PC9nPjx1c2UgeD0iMSIgeT0iMSIgaHJlZj0iI2MiIHg6aHJlZj0iI2MiLz48L2c+PHVzZSB5PSIyIiBocmVmPSIjYiIgeDpocmVmPSIjYiIvPjwvZz48dXNlIHk9IjQiIGhyZWY9IiNhIiB4OmhyZWY9IiNhIi8+PC9zdmc+');
}
.spare.top {
  margin: 20px 0 2px 0;
}
.spare.bottom {
  margin: 12px 0 20px 0;
}
.spare piece {
  display: inline-block;
  width: 37px;
  height: 37px;
  background-size: cover;
}

/* Icon font */

@font-face {
  font-family: 'fontello';
  src: url('/static/fonts/fontello.eot');
  src: url('/static/fonts/fontello.eot?#iefix') format('embedded-opentype'), url('/static/fonts/fontello.woff2') format('woff2'), url('/static/fonts/fontello.woff') format('woff'), url('/static/fonts/fontello.ttf') format('truetype'), url('/static/fonts/fontello.svg#fontello') format('svg');
  font-display: block;
}

.icon {
  speak: none;
  position: relative;
  display: inline-block;
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  line-height: 1em;
  width: 1em;
}

.icon-rotate:before { content: '\e800'; }
.icon-black-white:before { content: '\e801'; }
.icon-horizontal:before { content: '\e802'; }
.icon-vertical:before { content: '\e803'; }
.icon-download:before { content: '\e804'; }
.icon-stats:before { content: '\e805'; }
.icon-lock:before { content: '\e806'; }
.icon-lock-open:before { content: '\f13e'; }
.icon-external:before { content: '\f08e'; }
.icon-eraser:before { content: '\f12d'; }

/* Form controls */

.btn-group {
  display: inline-block;
}
.btn-group > .btn {
  position: relative;
  float: left;
}
.btn-group > .btn {
  border-radius: 0px;
}
.btn-group > .btn:first-child {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.btn-group > .btn:last-child {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  border-radius: 4px;
  text-decoration: none;
  color: var(--body-color) !important;
  line-height: 1.42857143;
  font-size: 14px;
}
.btn-default {
  background-color: var(--body-bg-color);
  border-color: var(--border-color);
}
.btn-default.active, .btn-default:active, .btn-default:hover {
  background-color: var(--shaded-bg-color);
  border-color: var(--grave-border-color);
}
.btn.active, .btn:active {
  box-shadow: inset 0 var(--shadow-inset) 5px var(--shadow);
}
.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}
.input-group .form-control, .input-group .btn {
  border-radius: 0;
}
.input-group .form-control:first-child {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.input-group .form-control:last-child, .input-group .btn:last-child {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.input-group .form-control, .input-group-btn {
  display: table-cell;
}
.input-group .form-control {
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 0;
}
.form-control {
  box-sizing: border-box;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: var(--body-color);
  background-color: var(--body-bg-color);
  border: 1px solid var(--border-color);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.125);
  width: 100%;
}
input, button {
  display: inline-block;
  font: inherit;
  font-family: inherit;
  line-height: inherit;
  margin: 0;
}
input[type=text] {
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0;
  text-shadow: none;
  text-align: start;
  font: 400 13px Arial;
  margin: 0;
}
.input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
}

/* Stats */

.stats .list-group-item {
  text-align: center;
}
.draws {
  background: var(--draw-bg-color);
  color: var(--draw-color);
}

.hist {
  height: 8px;
  background: var(--shaded-bg-color);
  border: 1px solid var(--border-color);
  margin-bottom: 2px;
}
.hist.active {
  background: var(--grave-border-color);
  border: 1px solid var(--grave-border-color);
}
.hist-empty {
  color: var(--grave-border-color);
}

/* Code */

pre {
  font-size: 9.5px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  background-color: var(--shaded-bg-color);
  padding: 9.5px;
}

code {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  color: var(--code-color);
  padding: 2px 4px;
  border-radius: 4px;
  background-color: var(--code-bg-color);
}

pre code {
  padding: 0;
  color: inherit;
  background-color: transparent;
}

/* List of endgames */

.endgames {
  padding: 0;
  font-size: 0;
}
.endgames li {
  font-size: 14px;
  list-style: none;
  padding: 4px;
  margin: 0;
  border: 1px solid var(--shaded-bg-color);
  text-align: center;
  display: inline-block;
  width: 33%;
  box-sizing: border-box;
}

.endgames li.maximal {
  border-color: var(--border-color);
  background: var(--shaded-bg-color);
}

/* Two columns */

@media(min-width: 680px) {
  .left-side, .right-side {
    width: 50%;
  }

  .left-side {
    top: 0;
    bottom: 0;
    position: fixed;
    background: none;
    background: var(--shaded-bg-color);
  }
  .left-side > .inner {
    margin-right: 10%;
  }

  .right-side {
    margin-left: 50%;
  }
  .right-side > .inner {
    margin-left: 10%;
  }

  footer > .inner {
    position: fixed;
    bottom: 40px;
    right: 55%;
  }
}

/* Two columns, but limited height */

@media(min-width: 680px) and (max-height: 880px) {
  footer > .inner {
    bottom: 10px;
  }
}
@media(min-width: 680px) and (max-height: 860px) {
  footer > .inner {
    position: relative;
    right: auto;
    margin-left: 55%;
  }
}
@media(min-width: 680px) and (max-height: 700px) {
  h1.main {
    padding: 10px 0;
  }
}
@media(min-width: 680px) and (max-height: 650px) {
  h1.main {
    display: none;
  }
  #side-to-move-toolbar {
    margin-top: 10px;
  }
}
@media(min-width: 680px) and (max-height: 560px) {
  h1.main, #board-toolbar {
    display: none;
  }
}
@media(min-width: 680px) and (max-height: 400px) {
  #side-to-move-toolbar, #form-set-fen, .spare {
    display: none;
  }
  #board {
    margin: 0;
  }
}

/* Loading spinner */

.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--body-color);
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  animation-delay: -1.0s;
}

@keyframes bounce {
  0%, 100% {
    transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
  }
}
