/* General */

body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

h1 {
  margin: 0;
  padding: 1em 0;
}

h1 a, h1 a:hover {
  color: black;
  text-decoration: none;
}

h2 a, h2 a:hover {
  color: white;
  text-decoration: none;
}

h2 {
  margin: 1em 0;
  border: 1px solid black;
  font-size: 1.2em;
  padding: 10px 15px;
  background: #777;
  color: white;
  font-weight: bold;
}

h2.white-win {
  background: white;
  color: black;
}

h2.white-win.frustrated {
  background: repeating-linear-gradient(45deg, #e5e5e5, #e5e5e5 8px, white 8px, white 20px);
}

h2.black-win.frustrated {
  background: repeating-linear-gradient(45deg, #777, #777 8px, black 8px, black 20px);
}

h2.black-win {
  background: black;
  color: white;
}

h3 {
  font-size: 1em;
  font-weight: bold;
}

.left-side > .inner {
  width: 300px;
  text-align: center;
  padding-bottom: 40px;
}

.right-side > .inner {
  padding: 40px 0;
}

#losing.white-turn .badge, #winning.black-turn .badge {
  background: black;
  color: white;
}

#losing.black-turn .badge, #winning.white-turn .badge {
  background: white;
  color: black;
  border: 1px solid black;
}

#cursed.white-turn .badge, #blessed.black-turn .badge {
  background: repeating-linear-gradient(45deg, #e5e5e5, #e5e5e5 8px, white 8px, white 20px);
  color: black;
  border: 1px solid black;
}

#cursed.black-turn .badge, #blessed.white-turn .badge {
  background: repeating-linear-gradient(45deg, #777, #777 8px, black 8px, black 20px);
  color: white;
}

footer > .inner {
  width: 300px;
  text-align: center;
  padding-top: 40px;
}

#board {
  margin: 15px 0;
}

#board-toolbar {
  margin: 10px 0;
}

.reload {
  padding: 20px 0;
  text-align: center;
}

#download {
  white-space: nowrap;
}

#development {
  background: red;
  color: white;
  text-align: center;
  font-weight: bold;
  position: fixed;
  width: 100%;
  z-index: 1;
}

/* Device size specifics */

@media(min-width: 640px) {
  .content {
    width: 640px;
    margin: auto;
  }

  .left-side > .inner {
    position: fixed;
  }

  footer > .inner {
    position: fixed;
    bottom: 40px;
  }

  .content::after {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;
    background: #eee;
    z-index: -1;
  }

  .right-side {
    width: 300px;
    margin-left: 340px;
  }
}

@media(max-width: 640px) {
  .left-side > .inner, .right-side > .inner {
    margin: auto;
    width: 300px;
  }

  .left-side {
    background: #fff url('/static/triangle-bg.svg');
    background-position: center bottom;
    margin: auto;
  }

  footer > .inner {
    margin: auto;
  }

  .fork-me {
    display: none;
    visibility: hidden;
  }
}

@media(min-width: 640px) and (max-height: 820px) {
  h1 {
    padding: 10px 0;
  }

  footer > .inner {
    bottom: 10px;
  }
}

@media(min-width: 640px) and (max-height: 730px) {
  footer > .inner {
    position: relative;
    width: 300px;
    margin-left: 340px;
  }
}

@media(min-width: 640px) and (max-height: 630px) {
  h1, .fork-me {
    display: none;
    visibility: hidden;
  }

  #side-to-move {
    margin-top: 10px;
  }
}

@media(min-width: 640px) and (max-height: 540px) {
  h1, .fork-me, #board-toolbar {
    display: none;
    visibility: hidden;
  }
}

@media(min-width: 640px) and (max-height: 360px) {
  #side-to-move, #form-set-fen, .spare-pieces-7492f {
    display: none;
    visibility: hidden;
  }

  #board {
    margin: 0;
  }
}

/* Loading spinner */

.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
