/* General */

body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
}

h1 {
  margin: 0;
  padding: 40px 0;
  font-size: 2.2em;
  line-height: 1.1;
  font-weight: bold;
}
h1 a, h1 a:hover, h1 a:visited {
  color: black;
  text-decoration: none;
}

h2 {
  margin: 0 0 1em 0;
  border: 1px solid black;
  font-size: 1.2em;
  padding: 10px 15px;
  background: #777;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  text-align: left;
}
.white-win {
  background: white;
  color: black;
}
.white-win.frustrated {
  background: repeating-linear-gradient(45deg, #e5e5e5, #e5e5e5 8px, white 8px, white 20px);
}
.black-win.frustrated {
  background: repeating-linear-gradient(45deg, #777, #777 8px, black 8px, black 20px);
}
.black-win {
  background: black;
  color: white;
}

h3 {
  font-size: 1em;
  font-weight: bold;
  padding-top: 2em;
}

a {
  color: #337ab7;
  text-decoration: none;
}
a:hover, a:visited {
  color: #23527c;
}

li {
  margin-left: -1.5em;
}

table {
  width: 100%;
  border-bottom: 2px solid #ddd;
  border-top: 2px solid #ddd;
  margin: 1em 0;
  border-collapse: collapse;
}
thead {
  border-bottom: 4px solid #ddd;
}
td, th {
  padding: 0.2em;
  text-align: center;
}

.left-side > .inner, .right-side > .inner, footer > .inner {
  width: 300px;
  margin: auto;
}

.left-side > .inner {
  text-align: center;
  padding-bottom: 40px;
}
#board-toolbar {
  margin: 10px 0;
}
.reload {
  padding: 20px 0;
  text-align: center;
}

.right-side > .inner {
  padding-bottom: 40px;
}
section {
  padding-top: 40px;
}
.warning {
  color: #8a6d3b;
  background: #fcf8e3;
  border: 1px solid #faebcc;
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 15px;
  text-align: left;
}
#pgn-download {
  white-space: nowrap;
}
#losing.white-turn .badge, #winning.black-turn .badge {
  background: black;
  color: white;
}
#losing.black-turn .badge, #winning.white-turn .badge {
  background: white;
  color: black;
  border: 1px solid black;
}
#cursed.white-turn .badge, #blessed.black-turn .badge {
  background: repeating-linear-gradient(45deg, #e5e5e5, #e5e5e5 8px, white 8px, white 20px);
  color: black;
  border: 1px solid black;
}
#cursed.black-turn .badge, #blessed.white-turn .badge {
  background: repeating-linear-gradient(45deg, #777, #777 8px, black 8px, black 20px);
  color: white;
}

.panel {
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-body {
  padding: 15px;
}
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.panel-default {
  border-color: #dddddd;
}
.panel-default > .panel-heading {
  color: #333333;
  background-color: #f5f5f5;
  border-color: #dddddd;
}

.list-group {
  margin-bottom: 20px;
}
a.list-group-item {
  color: #555;
  text-decoration: none;
}
a.list-group-item:active {
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}
a.list-group-item:focus, a.list-group-item:hover {
  background: #f5f5f5;
}
.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  border: 1px solid #ddd;
}
.list-group-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.list-group-item:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.list-group-item > .badge {
  float: right;
}
.list-group-item > .badge+.badge {
  margin-right: 5px;
}
.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  line-height: 1;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  background-color: #777;
  border-radius: 4px;
}

footer > .inner {
  text-align: center;
  padding-top: 40px;
}

/* Board */

#board {
  width: 296px;
  height: 296px;
  margin: 25px auto;
}
.cg-board-wrap {
  background-image: url('/static/brown-board.svg');
}

/* Glyphicons */

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/static/fonts/glyphicons-halflings-regular.eot');
  src: url('/static/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/static/fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('/static/fonts/glyphicons-halflings-regular.woff') format('woff'), url('/static/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('/static/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
}

.glyphicon-refresh:before {
  content: "\e031";
}
.glyphicon-erase:before {
  content: "\e221";
}
.glyphicon-adjust:before {
  content: "\e063";
}
.glyphicon-resize-horizontal:before {
  content: "\e120";
}
.glyphicon-resize-vertical:before {
  content: "\e119";
}
.glyphicon-download-alt:before {
  content: "\e025";
}
.glyphicon-stats:before {
  content: "\e185";
}

/* Form controls */

.btn-group {
  display: inline-block;
}
.btn-group > .btn {
  position: relative;
  float: left;
}
.btn-group > .btn {
  border-radius: 0px;
}
.btn-group > .btn:first-child {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.btn-group > .btn:last-child {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  border-radius: 4px;
  text-decoration: none;
  color: #333 !important;
  line-height: 1.42857143;
  font-size: 14px;
}
.btn-default {
  background-color: #fff;
  border-color: #ccc;
}
.btn-default.active, .btn-default:active, .btn-default:focus, .btn-default:hover {
  background-color: #e6e6e6;
  border-color: #adadad;
  color: #333;
}
.btn.active, .btn:active {
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}
.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}
.input-group .form-control, .input-group .btn {
  border-radius: 0;
}
.input-group .form-control:first-child {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.input-group .form-control:last-child, .input-group .btn:last-child {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.input-group .form-control, .input-group-btn {
  display: table-cell;
}
.input-group .form-control {
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 0;
}
.form-control {
  box-sizing: border-box;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  width: 100%;
}
input, button {
  display: inline-block;
  font: inherit;
  font-family: inherit;
  line-height: inherit;
  margin: 0;
}
input[type=text] {
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0;
  text-shadow: none;
  text-align: start;
  font: 400 13px Arial;
  margin: 0;
}
.input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
}

/* Stats */

.stats .list-group-item {
  text-align: center;
}
.draws {
  background: #777;
  color: white;
}

.hist {
  height: 8px;
  background: #eee;
  margin-bottom: 2px;
}
.hist.active {
  background: #777;
}
.hist-empty {
  color: #777;
}

/* Code */

pre {
  font-size: 9.5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f5f5f5;
  padding: 9.5px;
  color: #333;
}

code {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  color: #c7254e;
  padding: 2px 4px;
  border-radius: 4px;
  background-color: #f9f2f4;
}

pre code {
  padding: 0;
  color: inherit;
  background-color: transparent;
}

/* Single column */

.left-side {
  background: #fff url('/static/triangle-bg.svg');
  background-position: center bottom;
}

.fork-me {
  display: none;
}

/* Two columns */

@media(min-width: 680px) {
  .left-side, .right-side {
    width: 50%;
  }

  .left-side {
    top: 0;
    position: fixed;
    background: none;
  }
  .left-side > .inner {
    margin-right: 10%;
  }

  .right-side {
    margin-left: 50%;
  }
  .right-side > .inner {
    margin-left: 10%;
  }

  footer > .inner {
    position: fixed;
    bottom: 40px;
    right: 55%;
  }

  .left-side::after {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;
    background: #eee;
    z-index: -1;
  }

  .fork-me {
    display: initial;
  }
}

/* Two columns, but limited height */

@media(min-width: 680px) and (max-height: 880px) {
  footer > .inner {
    bottom: 10px;
  }
}
@media(min-width: 680px) and (max-height: 860px) {
  footer > .inner {
    position: relative;
    right: auto;
    margin-left: 55%;
  }
}
@media(min-width: 680px) and (max-height: 700px) {
  h1.main {
    padding: 10px 0;
  }
}
@media(min-width: 680px) and (max-height: 650px) {
  h1.main, .fork-me {
    display: none;
  }
  #side-to-move {
    margin-top: 10px;
  }
}
@media(min-width: 680px) and (max-height: 560px) {
  h1.main, .fork-me, #board-toolbar {
    display: none;
  }
}
@media(min-width: 680px) and (max-height: 380px) {
  #side-to-move, #form-set-fen, .spare-pieces-7492f {
    display: none;
  }
  #board {
    margin: 0;
  }
}

/* Loading spinner */

.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
