{% extends "layout.html" %}

{% block title %}Public API – Syzygy endgame tablebases{% endblock %}

{% block apidoc_query %}?fen={{ fen|urlencode }}{% endblock %}

{% block leftside %}
  <h1>Public API</h1>

  <em>This public API is available for free and provided without any guarantees on a best-effort basis.</em>

  <nav>
    <div class="reload"><a class="btn btn-default" href="/?fen={{ sanitized_fen|urlencode }}">Back to board</a></div>

    <form id="form-set-fen" action="/apidoc" method="get">
      <div class="input-group">
        <input id="fen" type="text" name="fen" value="{{ fen }}" class="form-control" aria-label="FEN" placeholder="{{ DEFAULT_FEN }}">
        <span class="input-group-btn">
          <input type="submit" class="btn btn-default" value="Probe FEN">
        </span>
      </div>
    </form>
  </nav>
{% endblock %}

{% block rightside %}
  <section id="json">
    <h2>JSON</h2>
    <p>GET argument <code>fen</code> is required.</p>
    <p>Status code 400 if the <code>fen</code> argument is missing, invalid or the corresponding position is illegal.</p>
    <div class="panel panel-default">
      <div class="panel-heading">
        <pre>GET <a id="request-uri" href="/api{% if fen is defined %}?fen={{ fen|urlencode }}{% endif %}">/api{% if fen is defined %}?fen={{ fen }}{% endif %}</a></pre>
      </div>
      <div class="panel-body">
        {% if status == 200 %}
          <pre><code class="language-javascript" id="request-body">{{ request_body }}</code></pre>
        {% else %}
          Status {{status}}
        {% endif %}
      </div>
    </div>
    <p><code>wdl</code> is 2 if the side to move is winning, 1 for a cursed win (that can not be realized under the fifty-move rule), 0 for a draw, -1 for a blessed loss and -2 for a loss.</p>
    <p><code>dtz</code> is the distance to zero. The absolute value is 0 for a draw and otherwise the number of halfmoves for the winning side to force a pawn move or capture. The DTZ is positive if the side to move in winning.</p>
    <p><code>moves</code> is a dictionary mapping all legal moves in UCI notation to DTZ values of the resulting positions.</p>
    <p><code>bestmove</code> is a <a href="#ordering">DTZ optimal</a> move.</p>
    <p><em>Any of the mentioned values might be null if the requested information was not available in the tablebases.</em></p>
  </section>

  <section id="cors">
    <h2>CORS</h2>
    <p><a href="https://en.wikipedia.org/wiki/Cross-origin_resource_sharing">CORS</a> is allowed for all origins.</p>
  </section>

  <section id="jsonp">
    <h2>JSONP</h2>
    <p>There is an optional <code>callback</code> argument for the <a href="#json">normal JSON endpoint</a>.</p>
  </section>

  <section id="http">
    <h2>HTTP</h2>
    <p>HSTS is enabled for the entire site. However for clients that do not support TLS the API endpoint is also available via HTTP.</p>
  </section>

  <section id="ordering">
    <h2>Ordering moves</h2>

    <p><em>Some additional logic is required to order moves by DTZ optimality, other than looking at the DTZ values.</em></p>

    <p>If the move is a <strong>checkmate</strong> play it.</p>
    <p>If the move is <strong>a capture or pawn move</strong> and maintains a winning position (DTZ of opponent &lt; 0) play it.</p>
    <p>If the move is <strong>winning</strong> (DTZ of opponent &lt; 0) play it.</p>
    <p>If the move is a <strong>stalemate or draw by insufficient material or a draw</strong> (DTZ 0) play it.</p>
    <p>A <strong>losing</strong> move is forced. Avoid zeroing moves. Maximize the DTZ of your opponent.</p>
  </section>

  <section id="download">
    <h2>Download</h2>

    <p>If you want to use tablebase information in a chess engine you certainly need your own local tablebase files.</p>

    <p><a href="https://github.com/syzygy1/tb">Generating</a> the tablebases requires time and resources. It might be easier to <a href="http://oics.olympuschess.com/tracker/index.php">download the tablebases via BitTorrent</a> or <a href="http://kirill-kryukov.com/chess/tablebases-online/">via eMule</a> or <a href="http://tablebase.sesse.net/syzygy/">via HTTP</a> (combined size about 150GB) with a fast internet connection.</p>
  </section>
{% endblock %}
