{% extends "layout.html" %}

{% block title %}Endgames – Syzygy endgame tablebases{% endblock %}

{% block leftside %}
  <h1>Endgames</h1>

  <p>These are the longest endgames (maximum DTZ) for each material configuration.</p>

  <p>
    <a href="/endgames.pgn">
      <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
      endgames.pgn
    </a> ({{ kib(4396) }})
  </p>

  <nav>
    <div class="reload"><a class="btn btn-default" href="/">Back to board</a></div>
  </nav>
{% endblock %}

{% block rightside %}
  {% for group in groups %}
    <section id="{{ group.num_pieces }}-pieces">
      <h2>{{ group.num_pieces }} pieces</h2>

      {% if not group.split_pawns %}<ul class="endgames">{% endif %}
        {% for subgroup in group.subgroups %}
          {% if group.split_pawns %}
            <h3>
              {% if subgroup.num_pawns == 0 %}
                No pawns
              {% elif subgroup.num_pawns == 1 %}
                1 pawn
              {% else %}
                {{ subgroup.num_pawns }} pawns
              {% endif %}
            </h3>
            <ul class="endgames">
          {% endif %}
            {% for endgame in subgroup.endgames %}
              <li{% if not endgame.has_stats %} class="no-stats"{% endif %}>
                {% if endgame.longest_fen %}
                  <a href="/?fen={{ endgame.longest_fen|replace(" ", "_") }}">{{ endgame.material }}</a>
                {% else %}
                  {{ endgame.material }}
                {% endif %}
              </li>
            {% endfor %}
          {% if group.split_pawns %}</ul>{% endif %}
        {% endfor %}
      {% if not group.split_pawns %}</ul>{% endif %}
    </section>
  {% endfor %}
{% endblock %}
