{% extends "layout.html" %}

{% block title %}{{ material }} – Syzygy endgame tablebases{% endblock %}

{% block head %}
  <script src="{{ asset_url("js/chessboard-0.3.0.js") }}"></script>
  <script src="{{ asset_url("js/client.min.js") }}"></script>
  <meta name="description" content="User interface and public API for probing Syzygy endgame tablebases">
{% endblock %}

{% block leftside %}
  <h1 class="main"><a href="/">Syzygy endgame tablebases</a></h1>

  <nav>
    <div id="side-to-move" class="btn-group" role="group" aria-label="Side to move">
      <a id="btn-white" class="btn btn-default{% if turn == "white" %} active{% endif %}" href="/?fen={{ white_fen|replace(" ", "_") }}">White to move</a>
      <a id="btn-black" class="btn btn-default{% if turn == "black" %} active{% endif %}" href="/?fen={{ black_fen|replace(" ", "_") }}">Black to move</a>
    </div>

    <div id="board" data-fen="{{ fen }}">
      <noscript>JavaScript required for interactive board view.</noscript>
    </div>

    <div id="board-toolbar" role="toolbar">
      <div class="btn-group">
        <button id="btn-flip-board" type="button" class="btn btn-default" aria-label="Flip board" title="Flip board">
          <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
        </button>
      </div>

      <div class="btn-group">
          <a id="btn-clear-board" href="/?fen={{ clear_fen|replace(" ", "_") }}" class="btn btn-default" aria-label="Clear board" title="Clear board">
          <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
        </a>
      </div>

      <div class="btn-group">
        <a id="btn-swap-colors" href="/?fen={{ swapped_fen|replace(" ", "_") }}" class="btn btn-default" title="Swap colors">
          <span class="glyphicon glyphicon-adjust" aria-hidden="true"></span>
        </a>
        <a id="btn-mirror-horizontal" href="/?fen={{ horizontal_fen|replace(" ", "_") }}" class="btn btn-default" title="Mirror horizontally">
          <span class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span>
        </a>
        <a id="btn-mirror-vertical" href="/?fen={{ vertical_fen|replace(" ", "_") }}" class="btn btn-default" title="Mirror vertically">
          <span class="glyphicon glyphicon-resize-vertical" aria-hidden="true"></span>
        </a>
      </div>
    </div>

    <form id="form-set-fen" action="/" method="get">
      <div class="input-group">
        <input id="fen" type="text" name="fen" value="{{ fen_input }}" class="form-control" aria-label="FEN" placeholder="{{ DEFAULT_FEN }}">
        <span class="input-group-btn">
          <input type="submit" class="btn btn-default" value="Set FEN">
        </span>
      </div>
    </form>
  </nav>
{% endblock %}

{% block rightside %}
  {% include 'xhr-probe.html' %}
{% endblock %}
