<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <title>{%block title %}Syzygy endgame tablebases{%endblock%}</title>
    <link rel="stylesheet" href="/static/style.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="author" title="Legal" href="/legal">
    <script src="/static/client.min.js"></script>
  </head>
  <body>
    <div class="content">
      <div class="left-side">
        <div class="inner">
          {%block leftside %}{%endblock%}
        </div>
      </div>
      <div class="right-side">
        <div class="inner">
          {%block rightside %}{%endblock%}
        </div>
      </div>
      <footer>
        <div class="inner">
          {%block footer %}
            <p>Powered by Ronald de Man's <a href="https://github.com/syzygy1/tb">Syzygy endgame tablebases</a>, <a href="https://github.com/niklasf/python-chess">python-chess</a> for probing and <a href="http://chessboardjs.com">chessboard.js</a> and <a href="https://github.com/jhlywa/chess.js">chess.js</a> for the client.</p>
            <p><a href="/legal">Legal</a>. <a href="/apidoc">Public API</a>. <a href="https://github.com/niklasf/syzygy-tables.org">GitHub</a>.</p>
          {%endblock%}
        </div>
      </footer>
    </div>

    {%block forkme %}
      <a class="fork-me" href="https://github.com/niklasf/syzygy-tables.org"><img style="position: fixed; top: 0; right: 0; border: 0;" src="/static/fork-me.png" alt="Fork me on GitHub" width="149" height="149"></a>
    {%endblock%}
  </body>
</html>
