<section>
  <h2 id="status"{% if winning_side %} class="{{ winning_side }}-win{% if frustrated %} frustrated{% endif %}"{% endif %}>{{ status }}</h2>

  {% if piece_count >= 7 and not unknown_moves %}
    <div class="warning" role="alert">
      Careful, this is based on <strong>experimental</strong> 7-piece tables thankfully <a href="http://www.talkchess.com/forum/viewtopic.php?start=0&t=66797&topic_view=flat">generated and shared by Bojun Guo</a>.
    </div>
  {% endif %}

  <div id="winning" class="list-group {{ turn }}-turn">
  {% for move in winning_moves %}
    <a class="list-group-item" href="/?fen={{ move.fen|replace(" ", "_") }}" data-uci="{{ move.uci }}">
      {{ move.san }}
      {% if move.dtm %} <span class="badge">DTM {{ move.dtm }}</span>{% endif %}
      <span class="badge">{{ move.badge }}</span>
    </a>
  {% endfor %}
  </div>

  <div id="cursed" class="list-group {{ turn }}-turn">
  {% for move in cursed_moves %}
    <a class="list-group-item" href="/?fen={{ move.fen|replace(" ", "_") }}" data-uci="{{ move.uci }}">
      {{ move.san }}
      {% if move.dtm %} <span class="badge">DTM {{ move.dtm }}</span>{% endif %}
      <span class="badge">{{ move.badge }}</span>
    </a>
  {% endfor %}
  </div>

  <div id="drawing" class="list-group">
  {% for move in drawing_moves %}
    <a class="list-group-item" href="/?fen={{ move.fen|replace(" ", "_") }}" data-uci="{{ move.uci }}">{{ move.san }} <span class="badge">{{ move.badge }}</span></a>
  {% endfor %}
  </div>

  <div id="unknown" class="list-group">
  {% for move in unknown_moves %}
    <a class="list-group-item" href="/?fen={{ move.fen|replace(" ", "_") }}" data-uci="{{ move.uci }}">{{ move.san }} <span class="badge">{{ move.badge }}</span></a>
  {% endfor %}
  </div>

  <div id="blessed" class="list-group {{ turn }}-turn">
  {% for move in blessed_moves %}
    <a class="list-group-item" href="/?fen={{ move.fen|replace(" ", "_") }}" data-uci="{{ move.uci }}">
      {{ move.san }}
      {% if move.dtm %} <span class="badge">DTM {{ move.dtm }}</span>{% endif %}
      <span class="badge">{{ move.badge }}</span>
    </a>
  {% endfor %}
  </div>

  <div id="losing" class="list-group {{ turn }}-turn">
  {% for move in losing_moves %}
    <a class="list-group-item" href="/?fen={{ move.fen|replace(" ", "_") }}" data-uci="{{ move.uci }}">
      {{ move.san }}
      {% if move.dtm %} <span class="badge">DTM {{ move.dtm }}</span>{% endif %}
      <span class="badge">{{ move.badge }}</span>
    </a>
  {% endfor %}
  </div>

  <div id="info">
    {% if illegal %}
      <p>The given position is not a legal chess position.</p>
    {% elif insufficient_material %}
      <p><strong>The game is drawn</strong> because with the remaining
        material no sequence of legal moves can lead to a checkmate.</p>
    {% elif unknown_moves %}
      {% if fen == STARTING_FEN %}
        <p><a href="https://en.wikipedia.org/wiki/Solving_chess">Chess is not
          yet solved.</a></p>
      {% endif %}
      <p>Syzygy tables only provide information for positions with up to 7 pieces and
        no castling rights.</p>
    {% elif blessed_loss %}
      <p><strong>This is a blessed loss.</strong> Mate can be forced, but a
        draw can be achieved under the fifty-move rule.</p>
    {% elif cursed_win %}
      <p><strong>This is a cursed win.</strong> Mate can be forced, but a
        draw can be achieved under the fifty-move rule.</p>
    {% endif %}
  </div>

  {% if not illegal %}
    <a id="pgn-download" href="/syzygy-vs-syzygy/{{ material }}.pgn?fen={{ fen|replace(" ", "_") }}" aria-label="Download DTZ mainline" title="Download DTZ mainline">
      <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
      {{ material }}.pgn
  </a>
  {% endif %}

  {% if stats %}
    <section id="stats">
      {% if stats.histogram %}
        <h3>Histogram: {{ stats.material_side }} {{ stats.verb }}</h3>
        {% for row in stats.histogram %}
          {% if row.empty %}
            <div class="hist-empty" title="{{ row.empty }} plies skipped">⋮</div>
          {% else %}
            <div class="hist{% if row.active %} active{% endif %}" style="width: {{ row.width }}%;" title="{{ "{:,}".format(row.num) }} unique positions with {{ stats.material_side }} {{ stats.verb }} in {{ row.ply }} (log scale)"></div>
          {% endif %}
        {% endfor %}
      {% endif %}

      {% if stats.longest %}
        <h3>Longest {{ material }} endgames</h3>
        <ul>
          {% for longest in stats.longest %}
            <li><a href="/?fen={{ longest.fen|replace(" ", "_") }}">{{ longest.label }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}

      <h3>{{ material }} statistics</h3>
      <div class="list-group stats">
        {% if stats.white %}<div class="list-group-item white-win" title="Unique positions with white wins">{{ "{:,}".format(stats.white) }} ({{ stats.white_pct }}%)</div>{% endif %}
        {% if stats.cursed %}<div class="list-group-item white-win frustrated" title="Unique positions with frustrated white wins">{{ "{:,}".format(stats.cursed) }} ({{ stats.cursed_pct }}%)</div>{% endif %}
        {% if stats.draws %}<div class="list-group-item draws" title="Unique drawn positions">{{ "{:,}".format(stats.draws) }} ({{ stats.draws_pct }}%)</div>{% endif %}
        {% if stats.blessed %}<div class="list-group-item black-win frustrated" title="Unique positions with frustrated black wins">{{ "{:,}".format(stats.blessed) }} ({{ stats.blessed_pct }}%)</div>{% endif %}
        {% if stats.black %}<div class="list-group-item black-win" title="Unique positions with black wins">{{ "{:,}".format(stats.black) }} ({{ stats.black_pct }}%)</div>{% endif %}
      </div>

      <a href="/stats/{{ material }}.json" aria-label="Machine readable statistics for {{ material }}" title="Machine readable statistics for {{ material }}">
        <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
        {{ material }}.json <a href="/stats">(?)</a>
      </a>

    </section>
  {% endif %}
</section>

{% if fen == DEFAULT_FEN %}
  <section id="syzygy">
    <h2>Syzygy tablebases</h2>

    <h3>About</h3>
    <p>Syzygy tablebases allow perfect play with up to 7 pieces,
      both with and without the fifty-move drawing rule,
      i.e. they allow winning all won
      positions and bringing all drawn positions over the fifty-move line.<p>
    <p>The tables provide <abbr title="win-draw-loss">WDL</abbr> and
      <abbr title="distance-to-zeroing (a capture or pawn move)">DTZ</abbr>
      information. Forcing captures or pawn moves while keeping a win in hand
      ensures that progress is beeing made.</p>
    <p>DTZ optimal play is unlike the shortest way to mate, because
      <abbr title="depth-to-mate">DTM</abbr> does not account for the
      fifty-move drawing rule: Sometimes it is better to reset the fifty-move
      counter than to go for the shortest mate.</p>
    <p>6-piece tables were <a href="http://www.talkchess.com/forum3/viewtopic.php?t=47681">released</a> by Ronald de Man in April 2013, including
      <a href="https://github.com/syzygy1/tb">probing code and the generator</a>.</p>
    <p>In 2018 Bojun Guo <a href="http://www.talkchess.com/forum/viewtopic.php?start=0&t=66797&topic_view=flat">started</a> generating 7-piece tables.</p>
    <p>The 7-piece tablebases will contain 423,836,835,667,331 <a href="https://kirill-kryukov.com/chess/nulp/results.html">unique legal positions</a> in about 20 Terabytes.</p>

    <h3>Selected positions</h3>
    <ul>
      <li>Longest endgames:
        <a href="/?fen=8/8/8/8/8/8/2Rk4/1K6_b_-_-_0_1">3</a>,
        <a href="/?fen=8/8/8/6B1/8/8/4k3/1K5N_b_-_-_0_1">4</a>,
        <a href="/?fen=8/8/8/8/1p2P3/4P3/1k6/3K4_w_-_-_0_1">5</a>,
        <a href="/?fen=6N1/5KR1/2n5/8/8/8/2n5/1k6_w_-_-_0_1">6</a>,
        <a href="/?fen=QN4n1/6r1/3k4/8/b2K4/8/8/8_b_-_-_0_1">7 pieces</a>
      </li>
      <li><a href="/?fen=8/6B1/8/8/B7/8/K1pk4/8_b_-_-_0_1">Black escapes to a blessed loss with an underpromotion</a></li>
      <li><a href="/?fen=k7/2QR4/8/8/8/4N3/2r4Q/1K6_b_-_-_0_1">Black rook chasing king to force stalemate, without avail</a></li>
      <li><a href="/?fen=6B1/3B4/5R2/6q1/P7/1k6/8/3K4_b_-_-_0_1">656 half-moves before the winning side can safely move a pawn</a></li>
      <li>Collection of <a href="http://ruszchessstudies.blogspot.com/2018/06/syzygy-endgame-explorer-see.html">mutual zugzwangs by Árpád Rusz</a>:
        <a href="/?fen=K1k4n/6q1/8/B1N5/8/5B2/8/8_w_-_-_0_1">KBBNvKQN</a>,
        <a href="/?fen=4N2k/8/5N2/1n5N/8/8/1K2n3/8_w_-_-_0_1">KNNNvKNN</a>,
        <a href="/?fen=4k2r/8/1K1R4/8/2q5/Q4P2/8/8_w_-_-_0_1">KQRPvKQR</a>
      </li>
    </ul>
  </section>

  <section id="download">
    <h2>Download</h2>

    <p>If you want to use tablebases in a chess engine you certainly need a local copy.</p>
    <p>Most of the time (during search) only WDL tables are used. Keep these on SSD storage if you can. DTZ tables are generally only used to finish the final phase of the game ("at the root").</p>

    <table>
      <thead>
        <tr>
          <th>Pieces</th><th>WDL</th><th>DTZ</th><th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr><td>3-5</td><td>379&nbsp;M</td><td>561&nbsp;M</td><td>939&nbsp;M</td></tr>
        <tr><td>6</td><td>68&nbsp;G</td><td>82&nbsp;G</td><td>150&nbsp;G</td></tr>
        <tr><td>7</td><td colspan="3">about 20&nbsp;T</td></tr>
      </tbody>
    </table>

    <p><a href="https://github.com/syzygy1/tb">Generating</a> the tablebases requires time and resources. It is more efficient to download them <a href="http://oics.olympuschess.com/tracker/index.php">via BitTorrent</a> or from a mirror:</p>
    <ul>
      <li><a href="http://tablebase.sesse.net/syzygy/">tablebase.sesse.net</a> (fastest mirror, EU, not all 7-piece tables)</li>
      <li><a href="https://tablebase.lichess.ovh/tables/">tablebase.lichess.ovh</a> (complete mirror, EU)</li>
      <li><a href="ftp://112.73.74.24/pub/syzygy">Bojun Guo</a> (ftp, China, original source of 7-piece tables)</li>
    </ul>
  </section>

  <section id="contact">
    <h2>Contact</h2>

    <p>Feedback <a href="/legal#contact">via mail</a>, bug reports and <a href="https://github.com/niklasf/syzygy-tables.info">pull requests</a> are welcome.</p>
  </section>
{% endif %}
