<section>
  <h2 id="status"{% if winning_side %} class="{{ winning_side }}-win{% if frustrated %} frustrated{% endif %}"{% endif %}>{{ status }}</h2>

  <div id="winning" class="list-group {{ turn }}-turn">
  {% for move in winning_moves %}
    <a class="list-group-item" href="/?fen={{ move.fen|replace(" ", "_") }}" data-uci="{{ move.uci }}">
      {{ move.san }}
      {% if move.dtm %} <span class="badge">DTM {{ move.dtm }}</span>{% endif %}
      <span class="badge">{{ move.badge }}</span>
    </a>
  {% endfor %}
  </div>

  <div id="cursed" class="list-group {{ turn }}-turn">
  {% for move in cursed_moves %}
    <a class="list-group-item" href="/?fen={{ move.fen|replace(" ", "_") }}" data-uci="{{ move.uci }}">
      {{ move.san }}
      {% if move.dtm %} <span class="badge">DTM {{ move.dtm }}</span>{% endif %}
      <span class="badge">{{ move.badge }}</span>
    </a>
  {% endfor %}
  </div>

  <div id="drawing" class="list-group">
  {% for move in drawing_moves %}
    <a class="list-group-item" href="/?fen={{ move.fen|replace(" ", "_") }}" data-uci="{{ move.uci }}">{{ move.san }} <span class="badge">{{ move.badge }}</span></a>
  {% endfor %}
  </div>

  <div id="unknown" class="list-group">
  {% for move in unknown_moves %}
    <a class="list-group-item" href="/?fen={{ move.fen|replace(" ", "_") }}" data-uci="{{ move.uci }}">{{ move.san }} <span class="badge">{{ move.badge }}</span></a>
  {% endfor %}
  </div>

  <div id="blessed" class="list-group {{ turn }}-turn">
  {% for move in blessed_moves %}
    <a class="list-group-item" href="/?fen={{ move.fen|replace(" ", "_") }}" data-uci="{{ move.uci }}">
      {{ move.san }}
      {% if move.dtm %} <span class="badge">DTM {{ move.dtm }}</span>{% endif %}
      <span class="badge">{{ move.badge }}</span>
    </a>
  {% endfor %}
  </div>

  <div id="losing" class="list-group {{ turn }}-turn">
  {% for move in losing_moves %}
    <a class="list-group-item" href="/?fen={{ move.fen|replace(" ", "_") }}" data-uci="{{ move.uci }}">
      {{ move.san }}
      {% if move.dtm %} <span class="badge">DTM {{ move.dtm }}</span>{% endif %}
      <span class="badge">{{ move.badge }}</span>
    </a>
  {% endfor %}
  </div>

  <div id="info">
    {% if illegal %}
      <p>The given position is not a legal chess position.</p>
    {% elif insufficient_material %}
      <p><strong>The game is drawn</strong> because with the remaining
        material no sequence of legal moves can lead to a checkmate.</p>
    {% elif unknown_moves %}
      {% if fen == STARTING_FEN %}
        <p><a href="https://en.wikipedia.org/wiki/Solving_chess">Chess is not
          yet solved.</a></p>
      {% endif %}
      <p>Syzygy tables only provide information for positions with up to 7 pieces and
        no castling rights.</p>
    {% elif blessed_loss %}
      <p><strong>This is a blessed loss.</strong> Mate can be forced, but a
        draw can be achieved under the fifty-move rule.</p>
    {% elif cursed_win %}
      <p><strong>This is a cursed win.</strong> Mate can be forced, but a
        draw can be achieved under the fifty-move rule.</p>
    {% endif %}
  </div>

  {% if not illegal %}
    <a id="pgn-download" href="/syzygy-vs-syzygy/{{ material }}.pgn?fen={{ fen|replace(" ", "_") }}" aria-label="Download DTZ mainline" title="Download DTZ mainline">
      <span class="icon icon-download" aria-hidden="true"></span>
      {{ material }}.pgn
    </a>
    <a id="lichess-analysis" href="https://lichess.org/analysis/standard/{{ fen|replace(" ", "_") }}#explorer">
      <span class="icon icon-external" aria-hidden="true"></span>
      lichess.org
    </a>
  {% endif %}

  {% if stats %}
    <section id="stats">
      {% if stats.histogram %}
        <h3>Histogram: {{ stats.material_side }} {{ stats.verb }} vs. {{ stats.material_other }} (log&nbsp;scale)</h3>
        {% for row in stats.histogram %}
          {% if row.empty %}
            <div class="hist-empty" title="{{ row.empty }} empty rows skipped">⋮</div>
          {% else %}
            <div class="hist{% if row.active %} active{% endif %}" style="width: {{ row.width }}%;" title="{{ "{:,}".format(row.num) }} unique positions with {{ stats.material_side }} {{ stats.verb }} in {{ row.ply }} (DTZ)"></div>
          {% endif %}
        {% endfor %}
      {% endif %}

      {% if stats.longest %}
        <h3>Longest {{ material }} phases</h3>
        <ul>
          {% for longest in stats.longest %}
            <li><a href="/?fen={{ longest.fen|replace(" ", "_") }}">{{ longest.label }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}

      <h3>{{ material }} statistics (unique positions)</h3>
      <div class="list-group stats">
        {% if stats.white %}<div class="list-group-item white-win" title="Unique positions with white wins">White wins:<br>{{ "{:,}".format(stats.white) }} ({{ stats.white_pct }}%)</div>{% endif %}
        {% if stats.cursed %}<div class="list-group-item white-win frustrated" title="Unique positions with frustrated white wins">Frustrated white wins:<br>{{ "{:,}".format(stats.cursed) }} ({{ stats.cursed_pct }}%)</div>{% endif %}
        {% if stats.draws %}<div class="list-group-item draws" title="Unique drawn positions">Draws:<br>{{ "{:,}".format(stats.draws) }} ({{ stats.draws_pct }}%)</div>{% endif %}
        {% if stats.blessed %}<div class="list-group-item black-win frustrated" title="Unique positions with frustrated black wins">Frustrated black wins:<br>{{ "{:,}".format(stats.blessed) }} ({{ stats.blessed_pct }}%)</div>{% endif %}
        {% if stats.black %}<div class="list-group-item black-win" title="Unique positions with black wins">Black wins:<br>{{ "{:,}".format(stats.black) }} ({{ stats.black_pct }}%)</div>{% endif %}
      </div>

      <a href="/stats/{{ material }}.json" aria-label="Machine readable statistics for {{ material }}" title="Machine readable statistics for {{ material }}">
        <span class="icon icon-stats" aria-hidden="true"></span>
        {{ material }}.json <a href="/stats">(?)</a>
      </a>
    </section>
  {% endif %}

  {% if deps %}
  <section id="dependencies">
    <h3>{{ material }} dependencies</h3>
    <p>
      To probe all {{ normalized_material }} positions, these tables and their transitive
      dependencies are also required:
    </p>
    <p>
      {% for dep in deps %}
        {% if dep["longest_fen"] %}
          <a href="/?fen={{ dep["longest_fen"]|replace(" ", "_") }}">{{ dep["material"] }}</a>
        {% else %}
          {{ dep["material"] }}
        {% endif %}
     {% endfor %}
    </p>
    <p>
      <a href="/download/{{ normalized_material }}.txt?source=lichess&dtz=root">
        <span class="icon icon-download" aria-hidden="true"></span>
        {{ normalized_material }}.txt
      </a>
      (download list)
    </p>
  </section>
  {% endif %}
</section>

{% if fen == DEFAULT_FEN %}
  <section id="syzygy">
    <h2>Syzygy tablebases</h2>

    <h3>About</h3>
    <p>Syzygy tablebases allow perfect play with up to 7 pieces,
      both with and without the fifty-move drawing rule,
      i.e., they allow winning all won
      positions and bringing all drawn positions over the fifty-move line.<p>
    <p>The tables provide <a href="/metrics">WDL<sub>50</sub> and DTZ<sub>50</sub>&prime;&prime; information</a>.
      Forcing captures or pawn moves while keeping a win in hand
      ensures that progress is being made.</p>
    <p>DTZ optimal play is not always the shortest way to mate
      (<abbr title="depth-to-mate">DTM</abbr>) and can even look unintuitive:
      For example sometimes pieces can be sacrificed to reset the fifty-move
      counter as soon as possible. However unlike DTM it achieves the best
      possible result even with the fifty-move rule.</p>
    <p>6-piece tables were <a href="http://www.talkchess.com/forum3/viewtopic.php?t=47681">released</a> by Ronald de Man in April 2013, including
      <a href="https://github.com/syzygy1/tb">probing code and the generator</a>.</p>
    <p>From May to August 2018 Bojun Guo <a href="http://www.talkchess.com/forum/viewtopic.php?start=0&t=66797&topic_view=flat">generated</a> 7-piece tables. The 7-piece tablebase contains 423,836,835,667,331 <a href="https://kirill-kryukov.com/chess/nulp/results.html">unique legal positions</a> in about 18 Terabytes.</p>

    <h3>Selected positions</h3>
    <ul>
      <li>
        <a href="/endgames">Longest endgames</a>:
        <a href="/?fen=8/8/8/8/8/8/2Rk4/1K6_b_-_-_0_1">3</a>,
        <a href="/?fen=8/8/8/6B1/8/8/4k3/1K5N_b_-_-_0_1">4</a>,
        <a href="/?fen=K7/N7/k7/8/3p4/8/N7/8_w_-_-_0_1">5</a>,
        <a href="/?fen=6N1/5KR1/2n5/8/8/8/2n5/1k6_w_-_-_0_1">6</a>,
        <a href="/?fen=QN4n1/6r1/3k4/8/b2K4/8/8/8_b_-_-_0_1">7 pieces</a>
      </li>
      <li><a href="/?fen=8/6B1/8/8/B7/8/K1pk4/8_b_-_-_0_1">Black escapes to a blessed loss with an underpromotion</a></li>
      <li><a href="/?fen=k7/2QR4/8/8/8/4N3/2r4Q/1K6_b_-_-_0_1">Black rook chasing king to force stalemate, without avail</a></li>
      <li><a href="/?fen=6B1/3B4/5R2/6q1/P7/1k6/8/3K4_b_-_-_0_1">656 half-moves before the winning side can safely move a pawn</a></li>
    </ul>
  </section>

  <section id="download">
    <h2>Download</h2>

    <p>If you want to use tablebases in a chess engine you certainly need a local copy.</p>
    <p>Most of the time (during search) only WDL tables are used. Keep these on SSD storage if you can. DTZ tables are generally only used to finish the final phase of the game ("at the root").</p>

    <table>
      <thead>
        <tr>
          <th>Pieces</th><th>WDL</th><th>DTZ</th><th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr><td>3-5</td><td>{{ kib(387124) }}</td><td>{{ kib(574384) }}</td><td>{{ kib(961508) }}</td></tr>
        <tr><td>6</td><td>{{ kib(71127940) }}</td><td>{{ kib(85344200) }}</td><td>{{ kib(156472140) }}</td></tr>
        <tr><td>7</td><td>{{ kib(9098389892) }}</td><td>{{ kib(8859535148) }}</td><td>{{ kib(17957925040) }}</td></tr>
      </tbody>
    </table>

    <p><a href="https://github.com/syzygy1/tb">Generating</a> the tablebases requires considerable computational resources. It is more efficient to download them from a mirror:</p>
    <table>
      <thead>
        <tr>
          <th>Host</th>
          <th>Info</th>
          <th>#</th>
          <th>List</th>
         </tr>
      </thead>
      <tbody>
      <tr>
        <td><a href="http://tablebase.sesse.net/">tablebase.sesse.net</a></td>
        <td>http, EU</td>
        <td>7</td>
        <td><a href="/download.txt?source=sesse&max-pieces=7"><span class="icon icon-download"></span></a></td>
      </tr>
      <tr>
        <td><a href="https://tablebase.lichess.ovh/tables/">tablebase.lichess.ovh</a></td>
        <td>http, https, EU</td>
        <td>7</td>
        <td><a href="/download.txt?source=lichess&max-pieces=7"><span class="icon icon-download"></span></a></td>
      </tr>
      <tr>
        <td><a href="https://ipfs.syzygy-tables.info/">ipfs.syzygy-tables.info</a></td>
        <td>ipfs, Cloudflare</td>
        <td>7</td>
        <td></td>
      </tr>
      <tr>
        <td><a href="http://oics.olympuschess.com/">oics.olympuschess.com</a></td>
        <td>BitTorrent</td>
        <td>6</td>
        <td></td>
      </tr>
      </tbody>
    </table>

    The table files have internal non-cryptographic <a href="/checksums/syzygy.txt">checksums</a>
    that can be verified using <a href="https://github.com/syzygy1/tb"><code>tbcheck</code></a>.
    <a href="/checksums/bytes.tsv">Files sizes</a> (<code>du --bytes</code>),
    <a href="/checksums/MD5SUM">MD5</a>,
    <a href="/checksums/SHA1SUM">SHA1</a>,
    <a href="/checksums/SHA256SUM">SHA256</a> and
    <a href="/checksums/SHA512SUM">SHA512</a> sums are also known.
  </section>

  <section id="contact">
    <h2>Contact</h2>

    <p>Feedback <a href="/legal#contact">via mail</a>, bug reports and <a href="https://github.com/niklasf/syzygy-tables.info">pull requests</a> are welcome.</p>
  </section>
{% endif %}
