[Unit]
Description=Syzygy tablebases
After=network.target
Requires=network.target

[Service]
LimitNOFILE=4096
User=www-data
WorkingDirectory=/home/niklas/syzygy-tables.info/
ExecStart=/home/niklas/syzygy-tables.info/venv/bin/python server.py
Restart=always
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
