[Unit]
Description=Syzygy tablebases
After=network.target
Requires=network.target

[Service]
User=www-data
WorkingDirectory=/opt/syzygy-tables.info/
ExecStart=/usr/bin/pipenv run server
Restart=always
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
